openapi: "3.0.3"
info:
  title: Shipping Tracker API
  version: "2018-02-08"
  description: |
    Multi-carrier parcel tracking API derived from Shippo's official OpenAPI
    reference and tracking documentation. The focused surface covers package
    status lookup and optional webhook-backed tracking registration across
    common carriers through Shippo carrier tokens.

    Common carrier tokens include `usps`, `ups`, `fedex`, `dhl_express`,
    `dhl_ecommerce`, `canada_post`, `royal_mail`, `australia_post`,
    `lasership`, `ontrac`, `purolator`, `dpd_uk`, `deutsche_post`,
    `colissimo`, and `new_zealand_post`.

    Some carriers require a connected Shippo carrier account or only allow
    tracking shipments created through Shippo. See the catalog entry notes and
    Shippo tracking docs before relying on a token in production.
  contact:
    name: Shippo Developer Platform
    url: https://goshippo.com/contact/

servers:
  - url: https://api.goshippo.com
    description: Shippo production and test API

security:
  - apiKey: []

tags:
  - name: tracking-status
    description: Current and historical tracking state for a package.

paths:
  /tracks/{carrier}/{tracking_number}:
    get:
      operationId: getTrackingStatus
      summary: Get a tracking status
      description: |
        Returns current tracking status and complete tracking history for a
        shipment using a Shippo carrier token and tracking number.
      tags: [tracking-status]
      parameters:
        - $ref: '#/components/parameters/Carrier'
        - $ref: '#/components/parameters/TrackingNumber'
        - $ref: '#/components/parameters/ShippoApiVersion'
      responses:
        '200':
          description: Tracking status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Track'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /tracks:
    post:
      operationId: registerTrackingWebhook
      summary: Register a tracking webhook
      description: |
        Registers a package for tracking updates. Shippo sends future
        `track_updated` events to configured webhooks. This is a mutating
        workflow and may incur tracking charges for packages not shipped
        through Shippo.
      tags: [tracking-status]
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingRegistrationRequest'
      responses:
        '200':
          description: Tracking registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Track'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      x-prefix: ShippoToken
      x-auth-env-vars:
        - SHIPPO_API_TOKEN
        - SHIPPO_TOKEN
        - SHIPPO_API_KEY
      x-auth-key-url: https://portal.goshippo.com/
      x-auth-instructions: Generate a test or live token from Shippo Developer keys.
      x-auth-title: Shippo API Token
      x-auth-description: "Shippo test or live API token. The CLI sends it as Authorization: ShippoToken <token>."
      description: |
        Shippo API token. Send as `Authorization: ShippoToken <token>`.

  parameters:
    Carrier:
      in: path
      name: carrier
      required: true
      description: Shippo carrier token, such as `usps`, `ups`, `fedex`, or `dhl_express`.
      schema:
        type: string
        enum:
          - usps
          - ups
          - fedex
          - dhl_express
          - dhl_ecommerce
          - canada_post
          - royal_mail
          - australia_post
          - lasership
          - ontrac
          - purolator
          - dpd_uk
          - deutsche_post
          - colissimo
          - new_zealand_post
          - shippo
      example: usps
    TrackingNumber:
      in: path
      name: tracking_number
      required: true
      description: Carrier tracking number.
      schema:
        type: string
      example: "9205590164917312751089"
    ShippoApiVersion:
      in: header
      name: Shippo-API-Version
      required: false
      description: Shippo API version. Defaults to the version represented by this spec.
      schema:
        type: string
        default: "2018-02-08"

  responses:
    BadRequest:
      description: Invalid tracking request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing, deleted, or expired Shippo API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Tracking record was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    TrackingRegistrationRequest:
      type: object
      required: [carrier, tracking_number]
      properties:
        carrier:
          type: string
          description: Shippo carrier token.
          example: usps
          enum:
            - usps
            - ups
            - fedex
            - dhl_express
            - dhl_ecommerce
            - canada_post
            - royal_mail
            - australia_post
            - lasership
            - ontrac
            - purolator
            - dpd_uk
            - deutsche_post
            - colissimo
            - new_zealand_post
            - shippo
        tracking_number:
          type: string
          description: Carrier tracking number.
          example: "9205590164917312751089"
        metadata:
          type: string
          description: Optional user metadata, such as an order number.
          example: "Order 000123"
        include_package_details:
          type: boolean
          description: |
            Request package weight and dimensions when carrier support exists.
            Shippo documents this as currently supported only for UPS and FedEx.
          default: false

    Track:
      type: object
      description: Normalized package tracking state.
      properties:
        carrier:
          type: string
          example: usps
        tracking_number:
          type: string
          example: "9205590164917312751089"
        address_from:
          $ref: '#/components/schemas/TrackingAddress'
        address_to:
          $ref: '#/components/schemas/TrackingAddress'
        eta:
          type: string
          format: date-time
          nullable: true
        original_eta:
          type: string
          format: date-time
          nullable: true
        servicelevel:
          $ref: '#/components/schemas/ServiceLevel'
        metadata:
          type: string
          nullable: true
        tracking_status:
          $ref: '#/components/schemas/TrackingStatus'
        tracking_history:
          type: array
          items:
            $ref: '#/components/schemas/TrackingStatus'
        tracking_url_provider:
          type: string
          format: uri
          nullable: true
        messages:
          type: array
          items:
            type: string
        weight:
          allOf:
            - $ref: '#/components/schemas/PackageWeight'
          nullable: true
        dimensions:
          allOf:
            - $ref: '#/components/schemas/PackageDimensions'
          nullable: true

    TrackingStatus:
      type: object
      properties:
        object_created:
          type: string
          format: date-time
        object_updated:
          type: string
          format: date-time
        object_id:
          type: string
        status:
          type: string
          description: Normalized status.
          enum:
            - UNKNOWN
            - PRE_TRANSIT
            - TRANSIT
            - DELIVERED
            - RETURNED
            - FAILURE
        status_details:
          type: string
          nullable: true
        status_date:
          type: string
          format: date-time
          nullable: true
        substatus:
          allOf:
            - $ref: '#/components/schemas/TrackingSubstatus'
          nullable: true
        location:
          $ref: '#/components/schemas/TrackingLocation'

    TrackingSubstatus:
      type: object
      description: Finer-grained classification of the tracking event.
      properties:
        code:
          type: string
          description: Machine-readable tracking substatus code.
          example: information_received
        text:
          type: string
          description: Human-readable tracking substatus description.
          example: Information about the package received.
        action_required:
          type: boolean
          description: Whether the substatus requires action from the shipper or recipient.
          example: false

    TrackingAddress:
      type: object
      properties:
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        country:
          type: string
          nullable: true

    TrackingLocation:
      allOf:
        - $ref: '#/components/schemas/TrackingAddress'
        - type: object
          properties:
            latitude:
              type: number
              nullable: true
            longitude:
              type: number
              nullable: true

    ServiceLevel:
      type: object
      properties:
        token:
          type: string
          example: usps_priority
        name:
          type: string
          example: Priority Mail

    PackageWeight:
      type: object
      properties:
        value:
          type: string
          example: "2.2"
        unit:
          type: string
          example: LB

    PackageDimensions:
      type: object
      properties:
        length:
          type: string
          example: "1"
        width:
          type: string
          example: "2"
        height:
          type: string
          example: "3"
        unit:
          type: string
          example: in

    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
          example: Authentication credentials were not provided.
        messages:
          type: array
          items:
            type: string
